/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/***********************BASE STYLES************************/
 html {
   width: 100%;
   font-size: 16px;
 }

body {
  width: 100%;
  font-size: 1em;
  color: #e2e3ed;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  width: 100%;
  padding: 50px 0;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

h1 {
  font-size: 2.45em;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin: 25px;
  padding: 25px 16px;
}

h2 {
  font-size: 2em;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 25px 16px;
}

h3 {
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin-top: 16px;
  padding: 0 16px;
}

p {
  font-size: 0.8em;
  margin: 0;
  padding: 10px 16px;
  line-height: 1.75em;
}

/****************HEADER styles****************/

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: #202322;
  padding: 15px 0;
}

header .content-wrapper {
display: flex;
justify-content: center;
align-items: center;
flex-flow: row wrap;
}

header figure {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.header-divider {
  width: 100%;
  height: 1px;
  margin: 10px 0 20px 0;
  border-top: 1px solid grey;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 70%;
  font-size: 1.5em;
  font-weight: bold;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  width: 160px;
  list-style-type: none;
  padding: 0;
}

a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  text-decoration: none;
  color: #e2e3ed;
  font-weight: 500;
}


/******************Hero-area styles**************/
.hero-area {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      width: 100%;
      height: 500px;
      background: url('../img/jake-melara-30679-unsplash.jpg') center no-repeat #333;
      background-size: cover;
}

.hero-area  {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

/*****************Newsletter area****************/

aside {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #527158;
}

#text-area {
  background: #e1e2ea;
  color:#c3c4cb;
  font-style: italic;
  width: 305px;
  height: 50px;
  margin: 8px 16px;
  padding-left: 15px;
  border: 0;
}

#button {
  background: #2a423a;
  color: #e2e3ed;
  text-align: center;
  width: 320px;
  height: 50px;
  margin: 8px 16px;
  padding: 0;
  border: 0;
}

aside .content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-flow: row wrap;
}


/*****************Amenities section**************/
section.amenities {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/rawpixel-800820-unsplash1.jpg) center no-repeat #333;
    background-size: cover;

}

.amenities .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

.amenities article {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  width: 65%;

}

/******************Reviews section***************/


.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2a423a;

}

.reviews div.content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

section.reviews article {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    width: 100%;
  }

/**********************Footer base styles*********************/


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background: #202322;
  padding-top: 30px;
}

footer div.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  width: 30%;
  padding: 40px 0;
  }

footer .social {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-flow: column;
      padding: 0;
}

address.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-style: normal;
}

footer p {
  text-align: center;
}


footer .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}


/*************************ABOUT PAGE STYLES***********************/
section.mission {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission div.content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column;
  background: #527158;
}

.map figure {
    width: 100%;
    height: 0;
    padding-bottom: 80%;
    overflow: hidden;
    position: relative;
}

.map iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.contact-section div.content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column;
  background: #2a423a;
}



/***************************FAQ page styles**************************/

.faq-section  {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #527158;

}

.faq-section div.content-wrapper {
  align-items: flex-start;
}

.faq-content {
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-flow: row wrap;
}


.faq-content article {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
  padding-bottom: 25px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* Tablet styles here */

div.content-wrapper {
    padding-left: 65px;
    padding-right: 65px;
  }

header figure {
  width: 30%;
}

.header-divider {
  width: 0;
}

header .content-wrapper {
  justify-content: space-around;
}

header nav {
  width: auto;
}

aside .content-wrapper {
  justify-content: center;
  align-items: flex-start;
}

div.form-description, div.form {
  width: 40%;
  justify-content: space-between;
}

input, #text-area {
  width: 315px;
}
#button {
  width: 330px;
}

.amenities article {
  width: 35%;
  padding: 25px 50px;
}

.reviews figure {
  width: 40%;
}

section.reviews img {
  padding: 16px 0;
}

div.reviews-article {
  width: 50%;
}

footer div.content-wrapper {
  justify-content: space-between;
  width: 70%;
  padding: 50px 0;
}

.mission p {
  width: 40%;
}


.mission-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
}


.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
  width: 80%;
}

.faq-section {
  display: flex;
  justify-content: center;
  align-items: center;
}


.faq-content article {
  width: 45%;
}

.faq-content h3,
.faq-content p {
  padding: 0;
}

h2 {
  padding: 0;
}
}


@media only screen and (min-width: 1200px) {
  /* Desktop styles here */

header figure {
  width: 25%;
}

header .content-wrapper {
    justify-content: space-between;
  }

aside .content-wrapper {
  justify-content: space-around;
}

.amenities article {
  width: 25%;
  margin: 25px;
}

 div.content-wrapper {
  padding-left: 120px;
  padding-right: 120px;
}

h2 {
  padding: 0;
}
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
